# Ambiente virtual
venv/

# Arquivos Python
__pycache__/
*.pyc

# Banco SQLite (se estiver usando)
db.sqlite3

# Arquivos de mídia
media/

# Arquivos estáticos coletados
staticfiles/

# Arquivos de configuração sensíveis
.env
