{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Market Conect</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

<nav>
    <h2>Market Conect</h2>

    <div class="hamburguer" onclick="toggleMenu()">
        ☰
    </div>

    <div class="menu" id="menu">
        

        {% if user.is_authenticated %}
            <span>Olá, {{ user.username }}!</span>
            <a href="{% url 'anunciar' %}">Anunciar</a>
            <a href="{% url 'perfil' %}">Perfil</a>
            <a href="{% url 'meus_anuncios' %}">Meus anuncios</a>
            <a href="{% url 'logout' %}">Sair</a>
        {% else %}
            <a href="{% url 'login' %}">Entrar</a>
            <a href="{% url 'cadastrar' %}">Criar conta</a>
        {% endif %}
        <a href="{% url 'home' %}">Início</a>
    </div>
</nav>

<script>
    function toggleMenu() {
        const menu = document.getElementById("menu");
        if (menu) {
            menu.classList.toggle("ativo");
        }
    }

    document.addEventListener("click", function(event) {
        const menu = document.getElementById("menu");
        const hamburguer = document.querySelector(".hamburguer");

        if (menu && hamburguer) {
            if (!menu.contains(event.target) && !hamburguer.contains(event.target)) {
                menu.classList.remove("ativo");
            }
        }
    });
</script>



{% block content %}
{% endblock %}

</body>
</html>
