{% extends 'base.html' %}
{% block content %}


<div class="detalhe-container">

    {% if servico.imagem %}
        <img src="{{ servico.imagem.url }}" width="400">
    {% endif %}

    <h2>{{ servico.nome }}</h2>

    <p><strong>Descrição:</strong> {{ servico.descricao }}</p>
    <p><strong>Categoria:</strong> {{ servico.categoria.nome }}</p>

    <p><strong>Prestador:</strong> {{ servico.prestador.username }}</p>
    <p><strong>Publicado em:</strong> {{ servico.criado_em|date:"d/m/Y" }}</p>

    {% if servico.prestador.perfil.telefone %}
        <a href="https://wa.me/{{ servico.prestador.perfil.telefone }}" target="_blank" class="btn-whatsapp
        
        
        ">
            Falar no WhatsApp
        </a>
    {% endif %}

</div>

{% endblock %}
