{% extends 'base.html' %}
{% load static %}

{% block content %}




<div class="detalhe-container">
    <h2>{{ produto.nome }}</h2>

    {% if produto.imagem %}
        <img src="{{ produto.imagem.url }}">
    {% endif %}

    <p><strong>Preço:</strong> R$ {{ produto.preco }}</p>
    <p><strong>Descrição:</strong> {{ produto.descricao }}</p>
    <p><strong>Categoria:</strong> {{ produto.categoria.nome }}</p>

    <a href="https://wa.me/{{ produto.vendedor.telefone }}" class="btn-whatsapp">
        Falar no WhatsApp
    </a>
</div>

{% endblock %}
