{% extends "base.html" %}
{% block content %}

<div class="form-container">
    <h2>Editar Perfil</h2>
    <form method="POST">
        {% csrf_token %}
        <p>
            <label>Nome de usuário</label>
            <input type="text" value="{{ usuario.username }}" disabled>
        </p>
        <p>
            <label>Email</label>
            <input type="email" name="email" value="{{ usuario.email }}" required>
        </p>
        {{ form.as_p }}
        <button type="submit">Salvar Alterações</button>
    </form>
</div>

{% endblock %}
